[submodule "community-mapping-party"]
	path = community-mapping-party
	url = git@github.com:dzwarg/community-mapping-party.git
[submodule "d3-reveal-demo"]
	path = d3-reveal-demo
	url = git@github.com:dzwarg/d3-reveal-demo.git
	branch = master
[submodule "howto-open-source"]
	path = howto-open-source
	url = git@github.com:dzwarg/howto-open-source.git
	branch = master
