[submodule "red-alert-ultra-intense"]
	path = red-alert-ultra-intense
	url = https://github.com/dzwarg/red-alert-ultra-intense.git
[submodule "community-mapping-party"]
	path = community-mapping-party
	url = git@github.com:dzwarg/community-mapping-party.git
