#index {
	font-family: sans-serif;
	font-size: 2em;
}

#index .index-panel {
	float:left;
	width: 50%;
	text-align: center;
}

#index #start {
	width: 30%;
	height: 10%;
	background-color: green;
	font-size: 1em;
}

#index #stop {
	width: 30%;
	height: 10%;
	background-color: red;
	font-size: 1em;
}

#arena {
	background-image: url(../img/arena.jpg);
	background-repeat: no-repeat;
}

#arena #lights {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 1.0;
}

#arena #winner {
	display:none;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-top: 7em;
	font-family: sans-serif;
}

#arena .avatar {
	position: absolute;
	top: 125px;
}

#team {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #333;
	font-family: sans-serif;
	color: #fff;
}

#team h2 {
	text-align: center;
	color: #999;
	border-bottom: solid 1px #fff;
}

#team .player-cont{
	position:relative;
	border: solid 1px #666;
	padding-bottom: 3px;
	box-shadow: 3px 3px 5px #666;
	margin-bottom: 5px;
}

#team .player {
	height: 64px;
	clear:both;
}

#team .player-mug {
	float:left;
}

#team .player-name {
	float:left;
	font-weight: bold;
	margin: 10px;
}

#team .player-strength-label {
	float: right;
	margin: 10px;
}

#team .player-alive {
}

#team .player-dead {
}

#team .player-strength-bar {
	float: left;
	height: 10px;
	width: 75%;
	background-color: rgb(100,0,0);
}

#team .player-strength-current {
	height: 10px;
	background-color: rgb(43, 114, 43);
	width: 100%;
}

.projectile {
    position:absolute;
    left:200px;
    top:100px;
}